<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../styles.css"/>
    <link rel="stylesheet" href="../bootstrap-grid.min.css"/>
    <title>Tailwind Starter</title>



    <style>
        body {
            font-family: "Arial", serif;
        }
    </style>

</head>
<body>
<div class="main container ">

    <div class="blockText">

        <div class="firstText">Спасибо!</div>
        <div class="secondText">Вы участвуйте в розыгрыше путевки!</div>
        <div class="thirdText"><span class="textInstagram">Результаты конкурса смотрие в нашем </span> <br> instagramm
            @zelenyjostrov.ru
        </div>

    </div>
    <a href="https://www.instagram.com/zelenyjostrov.ru/?hl=ru" class="instLink">
        <div class="inst">

        </div>
    </a>
    <div class="house"></div>

</div>

</body></html>