<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/styles.css"/>
    <link rel="stylesheet" href="/bootstrap-grid.min.css"/>
    <title>Tailwind Starter</title>
    <style>
        body {
            font-family: "Arial", serif;
        }
    </style>
</head>
<body>
<div class="main container ">

    <div class="blockText">
        <div class="Spinner">
            <img src="../../img/spinner.svg" alt="альтернативный текст">
        </div>
        <div class="firstText">Акция P&amp;G в Зеленом Острове</div>
        <div class="secondText">Отправьте код с чека и участвуйте в розыгрыше путевки!</div>
    </div>
    <div class="inputMain">
        <div class="firstInput">
            <label class="textOutsideinput">Код с чека:</label>
            <input type="text" name="browser" class="picturesInput inputFields" value="00 - 00 - 00">


        </div>
        <div class="secondInput">
            <div class="wrapper">
                <label class="textOutsideinput">Ваш номер телефона:</label>

            </div>

            <input type="text" name="browser" class="picturesInputGreen inputFields" value="+7 ( 924 ) 724 - 72 - 45">


        </div>
        <div class="thirdInput">
            <div class="wrapper">
                <label class="textOutsideinput">Ваше имя:</label>
                <div class="textOutsideinputSecond">возможно опечатка в имени...</div>
            </div>

            <input type="text" name="browser" class="picturesInputRed inputFields" value="Арнольд">


        </div>

    </div>
    <div class="mainButton">
        <button class="Button">отправить</button>
    </div>
</div>

</body>
</html>
